/***********************************************
  General settings
***********************************************/

* {
    padding:0;
    margin:0;

    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

html {
    background: linear-gradient(to top, #64aed6, rgba(83, 165, 210, .5));
    height: 100vh;
}

body {
  user-select: none;
  /*for IE users*/
  -ms-user-select: none;
}

/***********************************************
  Calculator body
***********************************************/
#calculator {
  width: 310px;
	height: 470px;

  margin: 150px auto;
	padding: 7px;

  background: white;
  box-shadow: 2px 5px 7px rgba(0, 0, 0, .5),
              -2px 4px 7px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

#calculator h2 {
  text-align: center;
  font-style: italic;
}

#calculator hr {
  margin: 0 auto;
  width: 85%;
}
/***********************************************
  Calculations total div
***********************************************/
.total {
    height: 50px;
    width: 300px;

    margin:auto;

    margin-bottom: 5px;
    padding: 8px 5px 0 5px;

    text-align: right;
    font-size: 30px;
    background-color:white;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, .6),
                inset -1px -1px 5px rgba(0, 0, 0, .5);
}

#numbers, #operators {
	margin: auto;
  cursor: pointer;
}

/***********************************************
  Operator buttons
***********************************************/
#operators a {
	display: block;
	width: 30px;
	height: 30px;

	float: left;
  padding: 0px 3px 2px 3px;
  margin: 5px 5px 5px 10px;

	text-align: center;
	font-size: 20px;
  color: white;

	background: #333;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, .4);
	border-radius: 10px;

  transition: all .25s ease-out;
}

/***********************************************
  Calculator numbers
***********************************************/
#numbers a {
	display: block;
	width: 50px;
	height: 50px;

  padding: 10px;
  margin: 5px 17px 5px 16px;

	float: left;

	text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .2);
	font-size: 30px;
  color: black;

	background: #c4c1c1;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, .4);
	border-radius: 10px;

  transition: all .25s ease-out;
}

/***********************************************
  Clear buttons
***********************************************/
#clear, #clearall{
  background: #ef4136 !important;
  color: white !important;

  transition: all .25s ease-out;
}

/***********************************************
  buttons effects
***********************************************/

#numbers a:hover {
  background: #d1cfcf;
}
#numbers a:active{
  background: #989595;
  box-shadow: 0px 0px rgba(0, 0, 0, 0);
}

#numbers #clear:hover, #numbers #clearall:hover {
  background: #f3756e !important;
}

#numbers #clear:active, #numbers #clearall:active {
  background: #a72d25 !important;
  box-shadow: 0px 0px rgba(0, 0, 0, 0);
}

#operators a:hover {
  background: #555;
}

#operators a:active {
  background: #111;
  box-shadow: 0px 0px rgba(0, 0, 0, 0);
}
